<mat-card>
  <mat-card-header>

    <div mat-card-avatar>
      <mat-icon>person</mat-icon>
    </div>
    <mat-card-title fxFlex>
      <div fxLayout="column" fxFlex>
        <div fxLayout="row" fxFlex>
          <span matTooltip="Nombre de la persona natural">
            {{ pgimPersonaDTO.apPaterno | uppercase }}
            {{ pgimPersonaDTO.apMaterno | uppercase }}
            {{ pgimPersonaDTO.noPersona | uppercase }}
          </span>
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column">

      <div fxLayout="row" class="text-muted p-line mat-caption" fxFlex>
        <ul style="margin: 0px;">
          <li>
            <b>Tipo de documento: <span>{{ pgimPersonaDTO.descIdTipoDocIdentidad}}</span></b>
          </li>
          <li>
            <b>Número: <span>{{ pgimPersonaDTO.coDocumentoIdentidad }}</span></b>
          </li>
          <li *ngIf="pgimPersonaDTO.tiSexo">
            <b>Sexo: <span>{{ pgimPersonaDTO.tiSexo }}</span></b>
          </li>
        </ul>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions fxLayout="row">
    <div fxFlex align="start">
      <button mat-icon-button mat-sm-button color="primary" class="mr-1"
        (click)="solicitarModificacion(pgimPersonaDTO.idPersona)" matTooltip="Editar">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button mat-sm-button color="primary" class="mr-1"
        (click)="solicitarConsulta(pgimPersonaDTO.idPersona)" matTooltip="Consultar">
        <mat-icon fontSet="material-icons-outlined">visibility</mat-icon>
      </button>
    </div>
    <div fxFlex align="end">
      <button mat-icon-button mat-sm-button color="secundary" (click)="solicitarEliminacion(pgimPersonaDTO)"
        matTooltip="Eliminar">
        <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
