.contenedor-pgim {
  position: relative;
  margin: 0 auto;
}

/* Posisión del botón FAB */

.md-fab-bottom {
  z-index: 100;
  position: fixed;
  top: 17.8rem;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

// Permite sobre-escribir el borde lateral de la sheetSiede
// :host {
//   .mat-drawer-side.mat-drawer-end {
//     border-left: none !important;
//   }
// }

/**unidad-minera filtros sidenav**/

.unidad-minera-sidenav {
  width: 20rem;
  .unidad-minera-filtro-wrap {
    margin: 0;
    padding: 0;
  }
}

.unidad-minera-wrap {
  margin: 1rem 0.33rem 0.33rem;
  min-height: 600px; // Importante para evitar una vista cortada en la recarga de la página.
  overflow: hidden;
  //min-height: 750px;
}

.unidad-minera-top-toolbar {
  padding: 0 2px;
  justify-content: flex-end;
  align-items: center;
}

/** items unidad-minera container **/

.items-unidad-minera-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  .item-unidad-minera-wrap {
    float: left;
  }
  .items-unidad-minera-paginacion {
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
    align-self: flex-end;
    justify-content: flex-end;
    .mat-paginator {
      background-color: #fafafa; //color debe ser igual que el .unidad-minera-sidenav
    }
  }
}

/**unidad-minera filtros sidenav**/

@media (max-width: 960px) {
  .unidad-minera-sidenav {
    .unidad-minera-filtro-wrap {
      margin: 0;
      padding: 0;
    }
  }
}

/** items unidad-minera container 50% **/

@media (max-width: 1100px) {
  .items-empresa-container {
    .item-empresa-wrap {
      width: 50%;
    }
  }
}

/** items empresa container 100% **/

@media (max-width: 680px) {
  .items-empresa-container {
    .item-empresa-wrap {
      width: 100%;
    }
  }
}

.span-color-fondo-texto {
  background-color: #e7e7e7;
}
