<div class="main-container">
  <form fxLayout="column" [formGroup]="frmReactivo" (ngSubmit)="enviar()">

    <mat-toolbar class="mat-elevation-z1" *ngIf="!esFormularioSoloLectura">
      <div align="start">
        <button type="submit" cdkFocusInitial mat-button color="primary" [disabled]="enProceso">
          <mat-icon>save</mat-icon>
          {{ etiquetaAccion }}
        </button>
      </div>

    </mat-toolbar>

    <div fxLayout="row" *ngIf="enProceso">
      <mat-progress-bar mode="query" color="accent" fxFlex></mat-progress-bar>
      <br />
    </div>

    <br />

    <div class="mat-typography">

      <div *ngIf="!enProceso">
        <mat-card>
          <mat-label>Identificación</mat-label>
          <br><br>

          <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">
            <mat-form-field>
              <mat-label>Documento de identidad:</mat-label>
              <input #nombre matInput aria-label="State" autocomplete="off" value="DNI" readonly>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Número</mat-label>
              <input #inputDniCe1 matInput type="text" maxlength="11" autocomplete="off"
                formControlName="coDocumentoIdentidad" [class.is-invalid]="tieneError('coDocumentoIdentidad', 'any')" />
              <mat-progress-bar *ngIf="frmReactivo.controls['coDocumentoIdentidad'].pending" mode="buffer">
              </mat-progress-bar>
              <mat-hint align="end">{{ inputDniCe1.value?.length || 0 }}</mat-hint>
              <mat-error *ngIf="tieneError('coDocumentoIdentidad', 'required')">
                Es requerido
              </mat-error>
              <mat-error *ngIf="tieneError('coDocumentoIdentidad', 'personaExiste')">
                El documento ya fue registrado
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Persona Natural con DNI modo lectura -->
          <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">

            <mat-form-field fxFlex>
              <mat-label>Nombres:</mat-label>
              <input #nombre matInput aria-label="State" autocomplete="off" formControlName="noPersona"
                [class.is-invalid]="tieneError('noPersona', 'any')">
              <mat-error *ngIf="tieneError('noPersona', 'required')">
                Es requerido
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
              <mat-label>Primer apellido:</mat-label>
              <input #primerApellido matInput aria-label="State" autocomplete="off" formControlName="apPaterno"
                [class.is-invalid]="tieneError('apPaterno', 'any')" />
              <mat-error *ngIf="tieneError('apPaterno', 'required')">
                Es requerido
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
              <mat-label>Segundo apellido:</mat-label>
              <input #segundoApellido matInput aria-label="State" autocomplete="off" formControlName="apMaterno" />
            </mat-form-field>
          </div>

          <br>

          <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">
            <div fxFlex>
              <!-- <span class="span-flag-custom">¿Vigente?</span> -->
              <mat-radio-group formControlName="tiSexo" autocomplete="off" aria-label="Seleccione una opción">
                <mat-radio-button value="1">Masculino</mat-radio-button>
                <mat-radio-button value="0">Femenino</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex></div>
          </div>

          <br>
          <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">
            <mat-form-field>
              <mat-label>Nacido el:</mat-label>
              <input matInput type="text" formControlName="feNacimiento" autocomplete="off"
                [matDatepicker]="dpFeNacimiento" [class.is-invalid]="tieneError('feNacimiento', 'any')" />
              <mat-datepicker-toggle matSuffix [for]="dpFeNacimiento"></mat-datepicker-toggle>
              <mat-datepicker #dpFeNacimiento></mat-datepicker>
              <mat-error *ngIf="tieneError('feNacimiento', 'required')">
                Es requerido
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card>

        <br>

        <mat-card>
          <mat-label>Contacto</mat-label>
          <br><br>
          <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">
            <mat-form-field fxFlex>
              <mat-label>Telefono 1:</mat-label>
              <input matInput aria-label="State" autocomplete="off" formControlName="deTelefono" />
            </mat-form-field>
            <mat-form-field fxFlex>
              <mat-label>Telefono 2:</mat-label>
              <input matInput aria-label="State" autocomplete="off" formControlName="deTelefono2" />
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">
            <mat-form-field fxFlex>
              <mat-label>Correo 1:</mat-label>
              <input matInput aria-label="State" autocomplete="off" formControlName="deCorreo" />
              <mat-error *ngIf="tieneError('deCorreo', 'descDeCorreoIncorrecto')">
                Ingrese un email válido
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
              <mat-label>Correo 2:</mat-label>
              <input matInput aria-label="State" autocomplete="off" formControlName="deCorreo2" />
              <mat-error *ngIf="tieneError('deCorreo2', 'descDeCorreo2Incorrecto')">
                Ingrese un email válido
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card>

        <br>

        <mat-card>
          <mat-label>Ubicación</mat-label>
          <br><br>
          <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">
            <mat-form-field fxFlex>
              <mat-label>Departamento, provincia y distrito</mat-label>
              <input #inputDescUbigeo matInput type="text" aria-label="State" maxlength="128" autocomplete="off"
                formControlName="descUbigeo" [matAutocomplete]="auto" (keyup)="seCambioUbigeo(inputDescUbigeo.value)" />
              <mat-autocomplete #auto="matAutocomplete" panelWidth="auto">
                <mat-option *ngIf="cargandoUbigeos">
                  <mat-progress-bar mode="buffer"></mat-progress-bar>
                </mat-option>
                <ng-container *ngIf="!cargandoUbigeos">
                  <mat-option *ngFor="let ubigeo of lPgimUbigeoDTO" [value]="ubigeo.noUbigeo"
                    (onSelectionChange)="ubigeoSeleccionado($event.source.selected, ubigeo)">
                    <span>
                      <small>
                        {{ ubigeo.noUbigeo }}
                      </small>
                    </span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
              <mat-hint align="start"><b> {{ ubigeoReferencia }}</b></mat-hint>

              <mat-error *ngIf="tieneError('descUbigeo', 'ubigeoIncorrecto')">
                No ha seleccionado un distrito válido
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex>
              <mat-label>Dirección:</mat-label>
              <input matInput aria-label="State" autocomplete="off" formControlName="diPersona" />
            </mat-form-field>
          </div>
        </mat-card>

        <br>

        <mat-card>
          <mat-label>Notificaciones electrónicas</mat-label>
          <br><br>
          <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">
            <div fxFlex>
              <span class="span-flag-custom">Afiliación:</span>
              <mat-radio-group formControlName="flAfiliadoNtfccionElctrnca" autocomplete="off"
                aria-label="Seleccione una opción">
                <mat-radio-button value="1">Sí</mat-radio-button>
                <mat-radio-button value="0">No</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">
            <mat-form-field fxFlex>
              <mat-label>Correo:</mat-label>
              <input matInput aria-label="State" autocomplete="off" formControlName="deCorreoNtfccionElctrnca" />
              <mat-error *ngIf="tieneError('deCorreoNtfccionElctrnca', 'deCorreoNtfccionElctrncaIncorrecto')">
                Ingrese un email válido
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex>
              <mat-label>desde:</mat-label>
              <input matInput type="text" formControlName="feAfiliadoDesde" autocomplete="off"
                [matDatepicker]="dpFeAfiliadoDesde" [class.is-invalid]="tieneError('feAfiliadoDesde', 'any')" />
              <mat-datepicker-toggle matSuffix [for]="dpFeAfiliadoDesde"></mat-datepicker-toggle>
              <mat-datepicker #dpFeAfiliadoDesde></mat-datepicker>
              <mat-error *ngIf="tieneError('feAfiliadoDesde', 'required')">
                Es requerido
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card>
        <br>
        <mat-card>
          <mat-label>Otros</mat-label>
          <br><br>
          <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">
            <mat-form-field fxFlex>
              <mat-label>Notas:</mat-label>
              <input matInput aria-label="State" autocomplete="off" formControlName="cmNota" />
            </mat-form-field>
          </div>
        </mat-card>
        <br />
      </div>
    </div>
  </form>
</div>

<!-- <mat-hint>
    Estado del formulario: {{ frmReactivo.valid }}
    <br />
    Estado: {{ frmReactivo.status }}
</mat-hint>

<pre>
  {{ frmReactivo.value | json }}
</pre>

<mat-hint>
    Controles no válidos:<br>
    <pre>
      {{ controlesNovalidos | json }}
    </pre>
</mat-hint> -->
