.mat-radio-button ~ .mat-radio-button {
  margin-left: 15px;
}

.span-flag-custom {
  margin-right: 20px !important;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
