/* Personalización de barra de desplazamiento. */

::-webkit-scrollbar {
    width: 6px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px grey;
    border-radius: 2px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: lightblue;
    border-radius: 2px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #661fff;
}


/* Estilos para mejorar la visibilidad de los controles en solo lectura a fin de que no se van tan tenues */

 ::ng-deep .sgm-navy .mat-input-element:disabled {
    color: #3e424b;
}

 ::ng-deep .sgm-navy .mat-select-disabled .mat-select-value {
    color: #3e424b;
}

.contenedor-pgim-formulario {
    position: relative;
    padding: 100px;
    margin: 0 auto;
}