.contenedor-pgim {
  position: relative;
  margin: 0 auto;
}

/* Posisión del botón FAB */

.md-fab-bottom {
  z-index: 100;
  position: fixed;
  top: 21.8rem;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

// Permite sobre-escribir el borde lateral de la sheetSiede
// :host {
//   .mat-drawer-side.mat-drawer-end {
//     border-left: none !important;
//   }
// }

/**supervision filtros sidenav**/

.supervision-sidenav {
  width: 20rem;
  .unidad-minera-filtro-wrap {
    margin: 0;
    padding: 0;
  }
}

.supervision-wrap {
  margin: 1rem 0.33rem 0.33rem;
  min-height: 800px; // Importante para evitar una vista cortada en la recarga de la página.
  overflow: hidden;
  //min-height: 750px;
}

.supervision-top-toolbar {
  padding: 0 2px;
  justify-content: flex-end;
  align-items: center;
}

/** items unidad-minera container **/

.items-supervision-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  .item-supervision-wrap {
    float: left;
  }
  .items-supervision-paginacion {
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
    align-self: flex-end;
    justify-content: flex-end;
    .mat-paginator {
      background-color: #fafafa; //color debe ser igual que el .unidad-minera-sidenav
    }
  }
}

/**unidad-minera filtros sidenav**/

@media (max-width: 960px) {
  .supervision-sidenav {
    .supervision-filtro-wrap {
      margin: 0;
      padding: 0;
    }
  }
}

/** items unidad-minera container 50% **/

@media (max-width: 1100px) {
  .items-empresa-container {
    .item-empresa-wrap {
      width: 50%;
    }
  }
}

/** items empresa container 100% **/

@media (max-width: 680px) {
  .items-empresa-container {
    .item-empresa-wrap {
      width: 100%;
    }
  }
}

mat-button-toggle-group {
  flex-wrap: wrap;
}
