<div fxLayout="row" class="contenedor-pgim-formulario mat-elevation-z1 animated fadeInDown">
  <h2><strong>Lista de personas</strong></h2>
</div>

<div fxLayout="row" fxLayoutWrap="wrap">
  <span class="example-fill-remaining-space"></span>
  <button mat-icon-button (click)="toggleSideNav()" matTooltip="Mostrar u ocultar filtros">
    <mat-icon>filter_list</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>
<div>

  <mat-sidenav-container>

    <!--Inicio contentenido-->

    <div class="supervision-wrap contenedor-pgim" fxLayout="row" fxLayoutWrap="wrap">


      <button mat-fab color="accent" class="md-fab-bottom" matTooltip="Crear persona" (click)="crearPersona()">
        <mat-icon>add</mat-icon>
      </button>

      <div class="full-width">

        <!-- Inicio Barra de herramientas -->

        <div fxLayout="column">

          <div fxLayout="row" fxLayout.lt-sm="column">
            <mat-form-field fxFlex>
              <mat-icon matPrefix>search</mat-icon>
              <input #txtBuscar type="text" matInput
                matTooltip="El texto se buscará en cada una de las propiedades especificadas en los filtros de búsqueda (Avanzado)"
                placeholder="Texto a buscar" (keyup.enter)="buscar(txtBuscar.value)" />
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-sm="column" class="supervision-top-toolbar">
            <div fxFlex>
              <mat-label class="mat-caption">
                N° de registros: {{ paginador.totalElements }}
              </mat-label>
            </div>
            <div>
              <mat-form-field class="wrap-width">
                <mat-icon matPrefix>sort_by_alpha</mat-icon>
                <mat-select *ngIf="paginador" matTooltip="Ordenar por..." [value]="paginador.sort"
                  (selectionChange)="ordenamiento($event.value)">
                  <mat-option value="apPaterno,asc">Nombre asc</mat-option>
                  <mat-option value="apPaterno,desc">Nombre desc</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <!--Fin de Barra de herramientas-->

        <mat-divider></mat-divider>
        <br />
        <br />
        <br />

        <!--Inicio contentenido de tarjeas-->
        <mat-progress-bar *ngIf="enProceso" color="accent" mode="query"></mat-progress-bar>

        <div class="alerta alerta-warning animated fadeInDown" *ngIf="lPgimPersonaDTO?.length == 0">
          Sin registros para mostrar
        </div>

        <div *ngIf="!enProceso" class="items-supervision-container">

          <div class="item-supervision-wrap" *ngFor="let pgimPersona of lPgimPersonaDTO; let i = index"
            [@animate]="{ value: '*',params: { delay: i * 100 + 'ms', y: '50px' } }" fxFlex="0 1 calc(33.3%)"
            fxFlex.lg="0 1 calc(50%)" fxFlex.lt-lg="0 1 calc(50%)" fxFlex.lt-md="0 1 calc(50%)" fxFlex.lt-sm="100%">
            <app-persona-tarjeta [pgimPersonaDTO]="pgimPersona"
              (eventoPersonaSolicitadoParaModificar)="modificarPersona($event)"
              (eventoPersonaSolicitadoParaConsultar)="consultarPersona($event)"
              (eventoPersonaSolicitadoParaEliminar)="eliminarPersona($event)">
            </app-persona-tarjeta>
          </div>

          <!--Inicio paginacion-->

          <div fxLayoutAlign="end" class="items-supervision-paginacion">
            <mat-paginator class="mat-paginator" *ngIf="paginador" [length]="paginador.totalElements"
              [pageSize]="paginador.size" [pageIndex]="paginador.page" [pageSizeOptions]="paginador.pageSizeOptions"
              (page)="paginar($event)">
            </mat-paginator>
          </div>

          <!--Fin paginacion-->
        </div>
        <!--Fin de contentenido de tarjeas-->
      </div>

    </div>

    <!--Fin contentenido-->

    <!-- Inicio filtros de busqueda-->
    <mat-sidenav appSidenavToggle class="supervision-sidenav default-light-bg" position="end">
      <div class="supervision-filtro-wrap">
        <form [formGroup]="formFiltroBusqueda" (ngSubmit)="filtrarPersona()">
          <mat-accordion multi="true" displayMode="flat">
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Avanzado
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div fxLayout="row wrap" fxLayout.lt-sm="column">
                <div fxFlex="100" class="pr-1">
                  <!-- <mat-form-field class="full-width">
                    <mat-label>Documento de identididad:</mat-label>
                    <mat-select formControlName="idTipoDocIdentidad">
                      <mat-option value=""></mat-option>
                      <mat-option *ngFor="let tipoDocIdentidad of lPgimValorParametroDTOTipoDocIdentidad"
                        [value]="tipoDocIdentidad.idValorParametro">
                        {{ tipoDocIdentidad.noValorParametro }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->
                </div>
                <div fxFlex="100" class="pr-1">
                  <mat-form-field class="full-width">
                    <mat-label>Número de documento de identididad:</mat-label>
                    <input matInput formControlName="coDocumentoIdentidad" aria-label="State"
                      [matAutocomplete]="autoNUEXP" />
                    <mat-autocomplete #autoNUEXP="matAutocomplete" panelWidth="auto">
                      <mat-option *ngIf="cargandoPersonaCoDocIdentidad">
                        <mat-progress-bar mode="buffer"></mat-progress-bar>
                      </mat-option>
                      <ng-container *ngIf="!cargandoPersonaCoDocIdentidad">
                        <mat-option *ngFor="let pgimPersonaDTO of lPgimPersonaDTOCoDocIdentidad"
                          [value]="pgimPersonaDTO.coDocumentoIdentidad">
                          <span><small>{{ pgimPersonaDTO.coDocumentoIdentidad }}</small></span>
                        </mat-option>
                      </ng-container>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <!-- <div fxFlex="100" class="pr-1">
                  <mat-form-field class="full-width">
                    <mat-label>Nombre o razón social:</mat-label>
                    <input matInput formControlName="noRazonSocial" aria-label="State" [matAutocomplete]="autoCodigo" />
                    <mat-autocomplete #autoCodigo="matAutocomplete" panelWidth="auto">
                      <mat-option *ngIf="cargandoPersonaNoRazonSocial">
                        <mat-progress-bar mode="buffer"></mat-progress-bar>
                      </mat-option>
                      <ng-container *ngIf="!cargandoPersonaNoRazonSocial">
                        <mat-option *ngFor="let pgimPersonaDTO of lPgimPersonaDTONoRazonSocial"
                          [value]="pgimPersonaDTO.noRazonSocial">
                          <span>
                            <small>
                              {{ pgimPersonaDTO.noRazonSocial }}
                            </small>
                          </span>
                        </mat-option>
                      </ng-container>
                    </mat-autocomplete>
                  </mat-form-field>
                </div> -->

                <div fxFlex="100" class="mt-1">
                  <button mat-raised-button color="primary">
                    <mat-icon fontSet="material-icons-outlined">search</mat-icon>
                  </button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </form>
      </div>
    </mat-sidenav>
    <!--Fin filtros de busqueda-->
  </mat-sidenav-container>

</div>
