<div class="sidenav-hold">
  <ul appDropdown class="sidenav">
    <li appDropdownLink routerLinkActive="open">
      <div class="nav-item-sep">
        <mat-divider></mat-divider>
      </div>
    </li>

    <!-- MODULO DASHBOARD -->
    <!-- <li appDropdownLink routerLinkActive="open">
      <div class="lvl1">
        <a appDropdownToggle matRipple>
          <mat-icon>dashboard</mat-icon>
          <span class="item-name lvl1">Panel de control</span>
          <span fxFlex></span>
          <mat-icon class="menu-caret">keyboard_arrow_right</mat-icon>
        </a>

        <ul class="submenu lvl2" appDropdown>
          <li appDropdownLink routerLinkActive="open">
            <a routerLink="/dashboard/inicio" appDropdownToggle matRipple>
              <span class="item-name lvl2">Inicio</span>
              <span fxFlex></span>
            </a>
          </li>
        </ul>
      </div>
    </li> -->

    <!-- PANEL DE CONTROL -->
    <div class="lvl1">
      <ul class="submenu lvl2" appDropdown>
        <li appDropdownLink routerLinkActive="open">
          <a routerLink="/dashboard/inicio" appDropdownToggle matRipple>
            <mat-icon>dashboard</mat-icon>
            <span class="item-name lvl2">Panel de control</span>
            <span fxFlex></span>
          </a>
        </li>
      </ul>
    </div>

    <!-- MODULO REPORTES -->
    <!-- <div class="lvl1">
      <ul class="submenu lvl2" appDropdown>
        <li appDropdownLink routerLinkActive="open">
          <a routerLink="/reportes/reporte" appDropdownToggle matRipple>
            <mat-icon>description</mat-icon>
            <span class="item-name lvl2">PERSONA</span>
            <span fxFlex></span>
          </a>
        </li>
      </ul>
    </div> -->

    <!-- MODULO DIALECTOS -->
    <!-- <li appDropdownLink routerLinkActive="open">
      <div class="lvl1">
        <a appDropdownToggle matRipple>
          <mat-icon>language</mat-icon>
          <span class="item-name lvl1">Dialectos</span>
          <span fxFlex></span>
          <mat-icon class="menu-caret">keyboard_arrow_right</mat-icon>
        </a>

        <ul class="submenu lvl2" appDropdown>
          <li appDropdownLink routerLinkActive="open">
            <a routerLink="/dialectos/dialecto" appDropdownToggle matRipple>
              <span class="item-name lvl2">Dialecto</span>
              <span fxFlex></span>
            </a>
          </li>
        </ul>
      </div>
    </li> -->

    <li appDropdownLink routerLinkActive="open">
      <div class="lvl1">
        <a appDropdownToggle matRipple>
          <mat-icon>settings_suggest</mat-icon>
          <span class="item-name lvl1">MAESTROS</span>
          <span fxFlex></span>
          <mat-icon class="menu-caret">keyboard_arrow_right</mat-icon>
        </a>

        <ul class="submenu lvl2" appDropdown>
          <li appDropdownLink routerLinkActive="open">
            <a routerLink="/info-maestra/persona" appDropdownToggle matRipple>
              <span class="item-name lvl2">Persona</span>
              <span fxFlex></span>
            </a>
          </li>
        </ul>
        <ul class="submenu lvl2" appDropdown>
          <li appDropdownLink routerLinkActive="open">
            <a routerLink="#" appDropdownToggle matRipple>
              <span class="item-name lvl2">Equipo multidiciplinario</span>
              <span fxFlex></span>
            </a>
          </li>
        </ul>
        <ul class="submenu lvl2" appDropdown>
          <li appDropdownLink routerLinkActive="open">
            <a routerLink="#" appDropdownToggle matRipple>
              <span class="item-name lvl2">Equipo seguimiento</span>
              <span fxFlex></span>
            </a>
          </li>
        </ul>
        <ul class="submenu lvl2" appDropdown>
          <li appDropdownLink routerLinkActive="open">
            <a routerLink="#" appDropdownToggle matRipple>
              <span class="item-name lvl2">CIAM</span>
              <span fxFlex></span>
            </a>
          </li>
        </ul>
        <ul class="submenu lvl2" appDropdown>
          <li appDropdownLink routerLinkActive="open">
            <a routerLink="#" appDropdownToggle matRipple>
              <span class="item-name lvl2">CEAPAM</span>
              <span fxFlex></span>
            </a>
          </li>
        </ul>
        <ul class="submenu lvl2" appDropdown>
          <li appDropdownLink routerLinkActive="open">
            <a routerLink="#" appDropdownToggle matRipple>
              <span class="item-name lvl2">Oficina Mi 60+</span>
              <span fxFlex></span>
            </a>
          </li>
        </ul>
        <ul class="submenu lvl2" appDropdown>
          <li appDropdownLink routerLinkActive="open">
            <a routerLink="#" appDropdownToggle matRipple>
              <span class="item-name lvl2">Riesgo y MPT</span>
              <span fxFlex></span>
            </a>
          </li>
        </ul>
        <ul class="submenu lvl2" appDropdown>
          <li appDropdownLink routerLinkActive="open">
            <a routerLink="#" appDropdownToggle matRipple>
              <span class="item-name lvl2">Parámetro técnico</span>
              <span fxFlex></span>
            </a>
          </li>
        </ul>

        <!-- <ul class="submenu lvl2" appDropdown>
                    <li appDropdownLink routerLinkActive="open">
                        <a routerLink="/mantenimientos/ubigeos" appDropdownToggle matRipple>
                            <span class="item-name lvl2">Ubigeo</span>
                            <span fxFlex></span>
                        </a>
                    </li>
                </ul> -->
      </div>
    </li>

    <!-- <li appDropdownLink *ngFor="let bloqueFuncional of bloquesFuncionales; let i = index">
            <div [ngClass]="bloqueFuncional.codigo">
                <a appDropdownToggle>
                    <mat-icon class="icon-display"> {{ bloqueFuncional.nombreIcono }} </mat-icon>
                    <span> {{ bloqueFuncional.nombre | uppercase }} </span>
                    <span fxFlex></span>
                    <mat-icon class="menu-caret">keyboard_arrow_right</mat-icon>
                </a>

                <ul class="submenu lvl2" appDropdown *ngFor="let item of bloqueFuncional.items">
                    <li appDropdownLink>
                        <a [routerLink]="item.enlace" appDropdownToggle routerLinkActive="list-item-active">
                            <span> {{ item.nombre }} </span>
                            <span fxFlex></span>
                        </a>
                    </li>
                </ul>

            </div>
        </li> -->
  </ul>
</div>
