<div class="sidebar-panel">

  <div id="scroll-area" [perfectScrollbar] class="navigation-hold" fxLayout="column">

    <div class="sidebar-hold">

      <!-- Logo -->
      <div class="branding">

        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-2OGAwf6BoeEv6ydehFbgIQj-pQIm2VoDZCeSjipNKryAHa6Mqy-7uYolok9hueWVPe8&usqp=CAU"
          alt="" class="app-logo">
        <span class="app-logo-text">SMPT</span>

        <span style="margin: auto" *ngIf="layoutConf.sidebarStyle !== 'compact'"></span>

      </div>

      <!-- Informacion del Usuario -->
      <div class="app-user">
        <div class="app-user-photo">
          <img src="assets/images/user_face.jpg" class="mat-elevation-z1" alt="">
        </div>
        <span class="app-user-name mb-05">
          <mat-icon class="icon-xs text-muted">lock</mat-icon>
          Nombre apellido
        </span>

        <!-- Small buttons -->
        <div class="app-user-controls">

          <button class="text-muted" mat-icon-button mat-xs-button [matMenuTriggerFor]="appUserMenu">
            <mat-icon>settings</mat-icon>
          </button>

          <button class="text-muted" mat-icon-button mat-xs-button matTooltip="Email" routerLink="/inbox">
            <mat-icon>email</mat-icon>
          </button>

          <button class="text-muted" mat-icon-button mat-xs-button matTooltip="Cerrar Session">
            <mat-icon>exit_to_app</mat-icon>
          </button>

          <mat-menu #appUserMenu="matMenu">
            <button mat-menu-item routerLink="/perfil">
              <mat-icon>account_box</mat-icon>
              <span>Perfil</span>
            </button>

            <button mat-menu-item routerLink="/calendario">
              <mat-icon>date_range</mat-icon>
              <span>Calendario</span>
            </button>

            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span>Cerrar Sesion</span>
            </button>

          </mat-menu>
        </div>
      </div>

      <!-- Menu items -->
      <app-sidenav></app-sidenav>

    </div>

  </div>

</div>
