.contenedor-pgim-formulario {
  position: relative;
  padding: 5px;
  margin: 0px;
}

/* Definición de alertas */

.alerta-danger {
  background-color: #f8d7da;
  color: #b67b80;
}

.alerta-success {
  background-color: #d4edda;
  color: #155724;
}

.alerta-info {
  background-color: #cce5ff;
  color: #2b639e;
}

.alerta-warning {
  background-color: #fff3cd;
  color: #ae9548;
}

.alerta-dark {
  background-color: #343a40;
  color: #ffffff;
}

.alerta-secondary {
  background-color: #e0e0e0;
  color: #3b3f42;
}

.alerta {
  padding: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.md-badge-alerta-danger {
  background-color: #f8d7da;
  color: #b67b80;
  margin-bottom: 15px;
  text-align: center;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 4px;
}

.md-badge-alerta-success {
  background-color: #d4edda;
  color: #155724;
  margin-bottom: 15px;
  text-align: center;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 4px;
}

.md-badge-alerta-info {
  background-color: #cce5ff;
  color: #2b639e;
  margin-bottom: 15px;
  text-align: center;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 4px;
}

.md-badge-alerta-warning {
  background-color: #fff3cd;
  color: #ae9548;
  margin-bottom: 15px;
  text-align: center;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 4px;
}

.md-badge-alerta-secondary {
  background-color: #e0e0e0;
  color: #3b3f42;
  margin-bottom: 15px;
  text-align: center;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 4px;
}

.md-badge-alerta {
  background-color: #f5f5f5;
  margin-bottom: 15px;
  text-align: center;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 4px;
}

.md-badge-alerta-especial-secondary {
  background-color: #e0e0e0;
  color: #3b3f42;
  margin-bottom: 10px;
  text-align: center;
  margin: 4px;
  padding: 4px 4px;
  border-radius: 5px;
}

.md-badge-alerta-especial-dark {
  background-color: #343a40;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
  margin: 4px;
  padding: 4px 4px;
  border-radius: 5px;
}

.md-badge-alerta-especial-info {
  background-color: #cce5ff;
  color: #2b639e;
  margin-bottom: 10px;
  text-align: center;
  margin: 4px;
  padding: 4px 4px;
  border-radius: 5px;
}

/* Animaciones */

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.td-texto-inicio {
  display: table-cell;
  vertical-align: baseline;
}
