<h1 matDialogTitle class="mb-05">{{ data.titulo }}</h1>

<div mat-dialog-content class="mb-1">
    <p [innerHTML]="data.mensaje"></p>
</div>

<div mat-dialog-actions align="end">
    <button type="button" mat-button (click)="dialogRef.close(false)" *ngIf="!data.ocultarCerrar">CERRAR</button>
    <button type="button" mat-raised-button color="accent" (click)="dialogRef.close(true)" *ngIf="data.nombreAccion">
        {{ data.nombreAccion  }}</button>
    <button type="button" mat-raised-button color="accent" (click)="dialogRef.close(true)" *ngIf="!data.nombreAccion">ACEPTAR</button>
</div>