<mat-toolbar style="background-color: #20A9E1;" color="primary">

  <!-- Ocultar y abrir menu -->
  <button *ngIf="layoutConf.sidebarStyle !== 'compact'" mat-icon-button id="sidenavToggle" (click)="toggleSidenav()"
    matTooltip="Ocultar y/o Mostrar Menu">

    <mat-icon>menu</mat-icon>

  </button>

  <!-- Busqueda general -->

  <!-- <div fxFlex fxHide.lt-sm="true" class="search-bar">
      <form class="top-search-form">
        <mat-icon role="img">search</mat-icon>
        <input autofocus="true" placeholder="Search" type="text" />
      </form>
    </div> -->

  <span fxFlex></span>


  <!-- Notificaciones -->

  <button mat-icon-button [routerLink]="['/dashboard/alerta']" matTooltip="Alerta" (click)="abrirPanelNotificacion()"
    [style.overflow]="'visible'" class="topbar-button-right">
    <mat-icon>notifications</mat-icon>
    <!-- <span class="notification-number mat-bg-warn">2</span> -->
  </button>


  <!-- Datos de Session del Usuario-->

  <button mat-icon-button [matMenuTriggerFor]="accountMenu" class="topbar-button-right img-button">
    <img src="assets/images/user_face.jpg" alt="" />
  </button>

  <mat-menu #accountMenu="matMenu">

    <button mat-menu-item [routerLink]="['/profile']">
      <mat-icon>account_box</mat-icon>
      <span>Perfil</span>
    </button>

    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>{{ "Salir" }}</span>
    </button>

  </mat-menu>


</mat-toolbar>
